<h2> Employee List</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th> First Name</th>
        <th> Last Name</th>
        <th> Email Id</th>
        <th> Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.emailId}}</td>
        <td>
          <button (click)="updateEmployee(employee.id)" class="btn btn-info" *ngIf="showModeratorBoard">Update</button>
          <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" *ngIf="showModeratorBoard" style="margin-left: 10px">Delete</button>
          <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      <button (click)="createEmployee()" class="btn btn-info" *ngIf="showModeratorBoard">Add Employee</button>

<!--      <li class="nav-item" *ngIf="showModeratorBoard">-->
<!--        <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>-->
<!--      </li>-->

    </tbody>
  </table>


