<div class="col-md-6 offset-md-3">
  <h3>Update Invoice</h3>
  <div *ngIf="invoice">
    <form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <mat-label>Employee</mat-label>
        <mat-select [(value)]="invoice.employee" [compareWith]="objectComparisonFunction" class="form-control" disabled>
          <mat-option *ngFor="let employee of employees" [value]="employee">
            {{employee.firstName+' '+employee.lastName}}
          </mat-option>
        </mat-select>
      </div>

      <div class="form-group">
        <label>Amount</label>
        <input type="number" class="form-control" id="amount"
               [(ngModel)]="invoice.amount" name="amount">
      </div>
      <div class="form-group">
        <label>Currency</label>
        <mat-select [(value)]="invoice.currency" id="currency" name="currency" class="form-control" disabled>
          <mat-option value="USD">USD</mat-option>
          <mat-option value="EUR">EUR</mat-option>
        </mat-select>
      </div>

      <div class="form-group">
        <label>Invoice Data</label>
        <input type="date" class="form-control" id="invoice-date"
               [(ngModel)]="invoice.invoiceData" name="invoice-date" disabled>
      </div>

      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" id="description"
               [(ngModel)]="invoice.description" name="description">
      </div>

      <button class="btn btn-success" type="submit">Submit</button>

    </form>
  </div>
</div>
